{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
