@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto Mono';
	src: url('/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface-Regular.ttf');
}

:root [data-theme='vintage'] {
    --theme-font-family-base: 'Roboto Mono', sans-serif;
    --theme-font-family-heading: 'Abril Fatface', sans-serif;
    --header-height: 52px;
    --header-height-lg: 64px;
}

a {
    @apply hover:text-primary-500 transition-colors duration-300;
}

h1, h2, h3, h4 {
    font-family: var(--theme-font-family-heading);
    margin-bottom: 1rem;
}

h1 {
    @apply text-4xl lg:text-5xl;
}

h2 {
    @apply text-3xl lg:text-4xl;
}

h3 {
    @apply text-2xl lg:text-3xl;
}

h4 {
    @apply text-xl lg:text-2xl;
}

button.btn, a.btn {
    @apply variant-filled-primary rounded p-2;
}

button.btn.secondary, a.btn.secondary {
    @apply variant-ghost-primary;
}

input.error,
textarea.error,
select.error,
div.radio-group.error {
    @apply border-error-500 !important;
}

:focus-visible {
    outline: none;
}

dialog {
    @apply bg-surface-100-800-token text-inherit p-4 lg:p-6 rounded-md;
}

dialog::backdrop {
    @apply backdrop-blur-sm;
}
